@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img id="img_logo" alt="Logo" src="@Url.Content("~/Images/bcit-logo.jpg")" />
    <p class="lead">CST Program Option Selection for 2nd Term Students</p>
</div>

